In [1]:
import pandas as pd
from pprint import pprint

In [2]:
df = pd.read_csv("data/flickr_data2.csv")
df.head(30)

/var/folders/1k/m4xg7w3579vbn16vxrz252m80000gn/T/ipykernel_46570/491973266.py:1: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/flickr_data2.csv")

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,4395181099,30624617@N03,45.754858,4.821710,"chair,lyon,rhône,chaise,rhônealpes",Chaises avec vue,11.0,15,28,2,2010,23,20,28.0,2,2010.0,NaN,NaN,NaN
1,4394748717,35853470@N00,45.753270,4.862953,NaN,NaN,51.0,17,28,2,2010,52,17,28.0,2,2010.0,NaN,NaN,NaN
2,4394694699,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29.0,17,28,2,2010,33,17,28.0,2,2010.0,NaN,NaN,NaN
3,4394803790,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN
4,4394803554,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN
5,4394566432,16197488@N06,45.755940,4.833158,"poste,lyon,streetphotography,rue,gens",NaN,57.0,12,27,2,2010,1,10,28.0,2,2010.0,NaN,NaN,NaN
6,4393799139,16197488@N06,45.754289,4.832257,"lyon,streetphotography,rue,gens",NaN,8.0,11,27,2,2010,1,10,28.0,2,2010.0,NaN,NaN,NaN
7,4394565970,16197488@N06,45.774662,4.834005,"lyon,streetphotography,rue,montblanc,gens,mont...",NaN,23.0,10,27,2,2010,0,10,28.0,2,2010.0,NaN,NaN,NaN
8,4392370105,47924539@N05,45.762328,4.827547,"france,lyon,lesphotosdevoyage",Courette Lyonnaise,29.0,12,27,2,2010,29,21,27.0,2,2010.0,NaN,NaN,NaN
9,4392367159,47924539@N05,45.762059,4.822654,"france,lyon,fourvière,lesphotosdevoyage",Fourvière,28.0,12,27,2,2010,28,21,27.0,2,2010.0,NaN,NaN,NaN
10,4393122952,47924539@N05,45.767328,4.833362,lesphotosdevoyage,Lyon Novembre (64),21.0,12,27,2,2010,21,21,27.0,2,2010.0,NaN,NaN,NaN
11,4391929257,40936370@N00,45.837545,4.826130,"portrait,sculpture,streetart,france,art,myster...",Vulcain ou le monde de Felix _DDC4674,21.0,23,24,2,2010,15,18,27.0,2,2010.0,NaN,NaN,NaN
12,4391929181,40936370@N00,45.837545,4.826130,"portrait,sculpture,streetart,france,art,myster...",Vulcain ou le monde de Felix _DDC4673,21.0,23,24,2,2010,15,18,27.0,2,2010.0,NaN,NaN,NaN
13,4391929097,40936370@N00,45.837545,4.826130,"portrait,sculpture,streetart,france,art,myster...",Vulcain ou le monde de Felix _DDC4470,25.0,21,24,2,2010,15,18,27.0,2,2010.0,NaN,NaN,NaN
14,4391929053,40936370@N00,45.837545,4.826130,"portrait,sculpture,streetart,france,art,myster...",Vulcain ou le monde de Felix _DDC4372,31.0,20,24,2,2010,15,18,27.0,2,2010.0,NaN,NaN,NaN
15,4394564393,11817998@N05,45.758879,4.840307,"365,iphone",58/365 - @Tostaki,39.0,16,27,2,2010,45,16,27.0,2,2010.0,NaN,NaN,NaN
16,4392269794,10404945@N05,45.757515,4.825572,"bridge,panorama,france,night,river,view,lyon,f...",Panorama test 1,41.0,11,27,2,2010,41,14,27.0,2,2010.0,NaN,NaN,NaN
17,4391330105,8836196@N06,45.756744,4.839885,"bridge,lyon,rhône,pont,soe,rendezvous,naturesf...",""" Passerelle pour un rendez-vous...""",36.0,12,22,8,2009,36,12,27.0,2,2010.0,NaN,NaN,NaN
18,4392097248,9822280@N06,45.782070,4.876030,"lyon,paysageurbain,ladoua",IMG_3387,27.0,18,1,2,2010,35,12,27.0,2,2010.0,NaN,NaN,NaN
19,4390395039,65917247@N00,45.741093,4.883846,"baby,daughter,maternity,newborn,2010,1day,noémie",baby dreams,7.0,20,12,2,2010,50,9,27.0,2,2010.0,NaN,NaN,NaN
20,4390679749,38951914@N06,45.774190,4.831768,"france,lyon,carousel,submarine,nautilus,croixr...",The Nautilus on the Jules Verne carousel,20.0,1,9,5,2009,11,4,27.0,2,2010.0,NaN,NaN,NaN
21,4391162040,65917247@N00,45.741284,4.883664,"baby,me,dad,father,daughter,maternity,newborn,...",being dad,15.0,18,12,2,2010,21,1,27.0,2,2010.0,NaN,NaN,NaN
22,4390212637,11817998@N05,45.752321,4.842860,"r2d2,365,iphone",57/365 - R2D2,38.0,23,26,2,2010,45,23,26.0,2,2010.0,NaN,NaN,NaN
23,4390967848,26048905@N06,45.758487,4.830851,"portrait,vintage,saturation,hdr",DSC_5121,38.0,15,26,2,2010,38,23,26.0,2,2010.0,NaN,NaN,NaN
24,4390293252,40936370@N00,45.837545,4.826130,"portrait,sculpture,streetart,france,art,myster...",Vulcain ou le monde de Felix _DDC4925,43.0,1,25,2,2010,4,18,26.0,2,2010.0,NaN,NaN,NaN
25,4390293216,40936370@N00,45.837545,4.826130,"portrait,sculpture,streetart,france,art,myster...",Vulcain ou le monde de Felix _DDC4906,26.0,1,25,2,2010,4,18,26.0,2,2010.0,NaN,NaN,NaN
26,4390293164,40936370@N00,45.837545,4.826130,"portrait,sculpture,streetart,france,art,myster...",Vulcain ou le monde de Felix _DDC4904,26.0,1,25,2,2010,4,18,26.0,2,2010.0,NaN,NaN,NaN
27,4389525047,40936370@N00,45.837545,4.826130,"portrait,sculpture,streetart,france,art,myster...",Vulcain ou le monde de Felix _DDC4883,20.0,1,25,2,2010,4,18,26.0,2,2010.0,NaN,NaN,NaN
28,4389524991,40936370@N00,45.837545,4.826130,"portrait,sculpture,streetart,france,art,myster...",Vulcain ou le monde de Felix _DDC4846 (glissé(...,15.0,1,25,2,2010,4,18,26.0,2,2010.0,NaN,NaN,NaN
29,4390292960,40936370@N00,45.837545,4.826130,"portrait,sculpture,streetart,france,art,myster...",Vulcain ou le monde de Felix _DDC4839,14.0,1,25,2,2010,4,18,26.0,2,2010.0,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420240 entries, 0 to 420239
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   420240 non-null  int64
 1    user                420240 non-null  object
 2    lat                 420240 non-null  float64
 3    long                420240 non-null  float64
 4    tags                316730 non-null  object
 5    title               381911 non-null  object
 6    date_taken_minute   420239 non-null  float64
 7    date_taken_hour     420240 non-null  int64
 8    date_taken_day      420240 non-null  int64
 9    date_taken_month    420240 non-null  int64
 10   date_taken_year     420240 non-null  int64
 11   date_upload_minute  420228 non-null  object
 12   date_upload_hour    420238 non-null  object
 13   date_upload_day     420238 non-null  float64
 14   date_upload_month   420240 non-null  int64
 15   date_upload_year    420239 non-null  float64
 16  Unnamed: 16          142 non-null     float64
 17  Unnamed: 17          0 non-null       float64
 18  Unnamed: 18          2 non-null       float64
dtypes: float64(8), int64(6), object(5)
memory usage: 60.9+ MB

In [4]:
# remove the unnecessary space from column names
df.columns = df.columns.str.strip()  # VERY IMPORTANT
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420240 entries, 0 to 420239
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  420240 non-null  int64
 1   user                420240 non-null  object
 2   lat                 420240 non-null  float64
 3   long                420240 non-null  float64
 4   tags                316730 non-null  object
 5   title               381911 non-null  object
 6   date_taken_minute   420239 non-null  float64
 7   date_taken_hour     420240 non-null  int64
 8   date_taken_day      420240 non-null  int64
 9   date_taken_month    420240 non-null  int64
 10  date_taken_year     420240 non-null  int64
 11  date_upload_minute  420228 non-null  object
 12  date_upload_hour    420238 non-null  object
 13  date_upload_day     420238 non-null  float64
 14  date_upload_month   420240 non-null  int64
 15  date_upload_year    420239 non-null  float64
 16  Unnamed: 16         142 non-null     float64
 17  Unnamed: 17         0 non-null       float64
 18  Unnamed: 18         2 non-null       float64
dtypes: float64(8), int64(6), object(5)
memory usage: 60.9+ MB

In [5]:
# We can't conclude precisely what these unnamed columns represent: taken or upload year, so we will just drop them
mask = (~df["Unnamed: 16"].isna()) | (~df["Unnamed: 17"].isna()) | (~df["Unnamed: 18"].isna())
df[mask].head(10)

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year,Unnamed: 16,Unnamed: 17,Unnamed: 18
85950,6674970791,29713277@N02,45.753948,4.788145,"portrait,throughtheleaves,autraversdesfeuillages",NaN,2012.0,29,12,10,9,NaN,47,21.0,10,1.0,2011.0,NaN,NaN
90872,6674970791,29713277@N02,45.753948,4.788145,"portrait,throughtheleaves,autraversdesfeuillages",NaN,2012.0,29,12,10,9,NaN,47,21.0,10,1.0,2011.0,NaN,NaN
98808,7386785280,37290448@N04,45.771315,4.835829,"city,plants,plant,france,brick,green,stone,wal...",Plant,2012.0,17,9,6,6,Stone,32,17.0,17,6.0,2012.0,NaN,NaN
98816,7387000024,38586649@N00,45.779196,4.853596,"uploaded:by=flicksquare,foursquare:venue=4b851...",Beautiful weather in #Lyon,2012.0,46,11,17,6,),46,17.0,17,6.0,2012.0,NaN,NaN
102366,7583546064,37290448@N04,45.772827,4.841065,"city,blackandwhite,france,water,river,french,c...",Bridge,2012.0,38,11,7,6,Rhône,5,18.0,16,7.0,2012.0,NaN,NaN
102720,7527657538,43706323@N03,45.769222,4.830549,"square,lofi,squareformat,iphoneography,instagr...",Le marathon de la bouffe continue,2012.0,49,16,8,7,),49,16.0,8,7.0,2012.0,NaN,NaN
103681,7387000024,38586649@N00,45.779196,4.853596,"uploaded:by=flicksquare,foursquare:venue=4b851...",Beautiful weather in #Lyon,2012.0,46,11,17,6,),46,17.0,17,6.0,2012.0,NaN,NaN
103685,7386785280,37290448@N04,45.771315,4.835829,"city,plants,plant,france,brick,green,stone,wal...",Plant,2012.0,17,9,6,6,Stone,32,17.0,17,6.0,2012.0,NaN,NaN
106983,7583546064,37290448@N04,45.772827,4.841065,"city,blackandwhite,france,water,river,french,c...",Bridge,2012.0,38,11,7,6,Rhône,5,18.0,16,7.0,2012.0,NaN,NaN
107337,7527657538,43706323@N03,45.769222,4.830549,"square,lofi,squareformat,iphoneography,instagr...",Le marathon de la bouffe continue,2012.0,49,16,8,7,),49,16.0,8,7.0,2012.0,NaN,NaN

In [6]:
# Drop unnamed columns (they contain mostly NaN values)
df.drop(columns=["Unnamed: 16", "Unnamed: 17", "Unnamed: 18"], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420240 entries, 0 to 420239
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  420240 non-null  int64
 1   user                420240 non-null  object
 2   lat                 420240 non-null  float64
 3   long                420240 non-null  float64
 4   tags                316730 non-null  object
 5   title               381911 non-null  object
 6   date_taken_minute   420239 non-null  float64
 7   date_taken_hour     420240 non-null  int64
 8   date_taken_day      420240 non-null  int64
 9   date_taken_month    420240 non-null  int64
 10  date_taken_year     420240 non-null  int64
 11  date_upload_minute  420228 non-null  object
 12  date_upload_hour    420238 non-null  object
 13  date_upload_day     420238 non-null  float64
 14  date_upload_month   420240 non-null  int64
 15  date_upload_year    420239 non-null  float64
dtypes: float64(5), int64(6), object(5)
memory usage: 51.3+ MB

In [8]:
print(f"Rows removed: {df.duplicated().sum()}")
df = df.drop_duplicates()
print(f"New dataframe length: {len(df)}\n")
df.info()

Rows removed: 232642
New dataframe length: 187598

<class 'pandas.core.frame.DataFrame'>
Index: 187598 entries, 0 to 420239
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  187598 non-null  int64
 1   user                187598 non-null  object
 2   lat                 187598 non-null  float64
 3   long                187598 non-null  float64
 4   tags                140629 non-null  object
 5   title               170633 non-null  object
 6   date_taken_minute   187597 non-null  float64
 7   date_taken_hour     187598 non-null  int64
 8   date_taken_day      187598 non-null  int64
 9   date_taken_month    187598 non-null  int64
 10  date_taken_year     187598 non-null  int64
 11  date_upload_minute  187594 non-null  object
 12  date_upload_hour    187597 non-null  object
 13  date_upload_day     187597 non-null  float64
 14  date_upload_month   187598 non-null  int64
 15  date_upload_year    187597 non-null  float64
dtypes: float64(5), int64(6), object(5)
memory usage: 24.3+ MB

In [9]:
# choose only rows with non-NaN date components
# (the following conversion to datetime will fail otherwise)
mask = (
    df["date_upload_minute"].isna()
    | df["date_upload_hour"].isna()
    | df["date_upload_day"].isna()
    | df["date_upload_month"].isna()
    | df["date_upload_year"].isna()
    | df["date_taken_minute"].isna()
    | df["date_taken_hour"].isna()
    | df["date_taken_day"].isna()
    | df["date_taken_month"].isna()
    | df["date_taken_year"].isna()
)
df = df[~mask]
print(f"Rows removed: {mask.sum()}")
print(f"New dataframe length: {len(df)}\n")
df.isna().sum()

Rows removed: 6
New dataframe length: 187592

id                        0
user                      0
lat                       0
long                      0
tags                  46968
title                 16963
date_taken_minute         0
date_taken_hour           0
date_taken_day            0
date_taken_month          0
date_taken_year           0
date_upload_minute        0
date_upload_hour          0
date_upload_day           0
date_upload_month         0
date_upload_year          0
dtype: int64

In [10]:
# change to datetime dtype
# consult this https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html
# the dates that are invalid will be converted to NaT
df["date_upload"] = pd.to_datetime(
    df[["date_upload_year", "date_upload_month", "date_upload_day", "date_upload_hour", "date_upload_minute"]].rename(
        columns={
            "date_upload_year": "year",
            "date_upload_month": "month",
            "date_upload_day": "day",
            "date_upload_hour": "hour",
            "date_upload_minute": "minute",
        }
    ),
    errors="coerce",  # Invalid dates become NaT
)
df["date_taken"] = pd.to_datetime(
    df[["date_taken_year", "date_taken_month", "date_taken_day", "date_taken_hour", "date_taken_minute"]].rename(
        columns={
            "date_taken_year": "year",
            "date_taken_month": "month",
            "date_taken_day": "day",
            "date_taken_hour": "hour",
            "date_taken_minute": "minute",
        }
    ),
    errors="coerce",  # Invalid dates become NaT
)

# Drop rows with NaT values
print(f"Rows removed: {df[df['date_upload'].isna() | df['date_taken'].isna()].shape[0]}")
df = df.dropna(subset=["date_upload", "date_taken"])
print(f"New dataframe length: {len(df)}\n")

# drop the now unnecessary columns
df.drop(
    columns=[
        "date_upload_year",
        "date_upload_month",
        "date_upload_day",
        "date_upload_hour",
        "date_upload_minute",
        "date_taken_year",
        "date_taken_month",
        "date_taken_day",
        "date_taken_hour",
        "date_taken_minute",
    ],
    inplace=True,
)
df.info()
print()
df.isna().sum()

Rows removed: 48
New dataframe length: 187544

<class 'pandas.core.frame.DataFrame'>
Index: 187544 entries, 0 to 420239
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           187544 non-null  int64
 1   user         187544 non-null  object
 2   lat          187544 non-null  float64
 3   long         187544 non-null  float64
 4   tags         140590 non-null  object
 5   title        170582 non-null  object
 6   date_upload  187544 non-null  datetime64[ns]
 7   date_taken   187544 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(3)
memory usage: 12.9+ MB

id                 0
user               0
lat                0
long               0
tags           46954
title          16962
date_upload        0
date_taken         0
dtype: int64

In [11]:
# Check that date_taken is before date_upload
mask = df['date_taken'] <= df['date_upload']
df = df[mask]
print(f"Rows removed: {(~mask).sum()}")
print(f"New dataframe length: {len(df)}\n")

df.info()

Rows removed: 2335
New dataframe length: 185209

<class 'pandas.core.frame.DataFrame'>
Index: 185209 entries, 0 to 420239
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           185209 non-null  int64
 1   user         185209 non-null  object
 2   lat          185209 non-null  float64
 3   long         185209 non-null  float64
 4   tags         138805 non-null  object
 5   title        168309 non-null  object
 6   date_upload  185209 non-null  datetime64[ns]
 7   date_taken   185209 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(3)
memory usage: 12.7+ MB

In [12]:
# Sanity check for realistic dates
mask = (df['date_upload'].dt.year >= 2004) & (df['date_taken'].dt.year >= 1826)  # first photo ever taken in 1826, Flickr founded in 2004
df = df[mask]
print(f"Rows removed: {(~mask).sum()}")
print(f"New dataframe length: {len(df)}\n")

df.info()

Rows removed: 0
New dataframe length: 185209

<class 'pandas.core.frame.DataFrame'>
Index: 185209 entries, 0 to 420239
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           185209 non-null  int64
 1   user         185209 non-null  object
 2   lat          185209 non-null  float64
 3   long         185209 non-null  float64
 4   tags         138805 non-null  object
 5   title        168309 non-null  object
 6   date_upload  185209 non-null  datetime64[ns]
 7   date_taken   185209 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(3)
memory usage: 12.7+ MB

In [13]:
# choose lat/long bounds for Lyon
mask = df["lat"].between(44.65, 45.9) & df["long"].between(4.70, 5.12)
df = df[mask]
print(f"Rows removed: {(~mask).sum()}")
print(f"New dataframe length: {len(df)}\n")

df.info()

Rows removed: 0
New dataframe length: 185209

<class 'pandas.core.frame.DataFrame'>
Index: 185209 entries, 0 to 420239
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           185209 non-null  int64
 1   user         185209 non-null  object
 2   lat          185209 non-null  float64
 3   long         185209 non-null  float64
 4   tags         138805 non-null  object
 5   title        168309 non-null  object
 6   date_upload  185209 non-null  datetime64[ns]
 7   date_taken   185209 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(3)
memory usage: 12.7+ MB

In [14]:
df["tags"] = df["tags"].fillna("")
# Split by comma, convert to lowercase, and strip whitespace and remove empty tags
df["tags"] = df["tags"].str.split(",").apply(lambda x: [tag.strip().lower() for tag in x if tag.strip()])

df["tags"].head(10)

0             [chair, lyon, rhône, chaise, rhônealpes]
1                                                   []
2                                        [365, iphone]
3    [nin, nineinchnails, gift, screening, toiou, a...
4    [lyon, nin, nineinchnails, gift, screening, to...
5          [poste, lyon, streetphotography, rue, gens]
6                 [lyon, streetphotography, rue, gens]
7    [lyon, streetphotography, rue, montblanc, gens...
8                    [france, lyon, lesphotosdevoyage]
9         [france, lyon, fourvière, lesphotosdevoyage]
Name: tags, dtype: object

In [15]:
df["title"] = df["title"].fillna("")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185209 entries, 0 to 420239
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           185209 non-null  int64
 1   user         185209 non-null  object
 2   lat          185209 non-null  float64
 3   long         185209 non-null  float64
 4   tags         185209 non-null  object
 5   title        185209 non-null  object
 6   date_upload  185209 non-null  datetime64[ns]
 7   date_taken   185209 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(3)
memory usage: 12.7+ MB

In [17]:
df["url"] = df.apply(lambda row: f"https://www.flickr.com/photos/{row['user']}/{row['id']}", axis=1)
pprint(df["url"][:10].to_list())

['https://www.flickr.com/photos/30624617@N03/4395181099',
 'https://www.flickr.com/photos/35853470@N00/4394748717',
 'https://www.flickr.com/photos/11817998@N05/4394694699',
 'https://www.flickr.com/photos/11545749@N06/4394803790',
 'https://www.flickr.com/photos/11545749@N06/4394803554',
 'https://www.flickr.com/photos/16197488@N06/4394566432',
 'https://www.flickr.com/photos/16197488@N06/4393799139',
 'https://www.flickr.com/photos/16197488@N06/4394565970',
 'https://www.flickr.com/photos/47924539@N05/4392370105',
 'https://www.flickr.com/photos/47924539@N05/4392367159']

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185209 entries, 0 to 420239
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           185209 non-null  int64
 1   user         185209 non-null  object
 2   lat          185209 non-null  float64
 3   long         185209 non-null  float64
 4   tags         185209 non-null  object
 5   title        185209 non-null  object
 6   date_upload  185209 non-null  datetime64[ns]
 7   date_taken   185209 non-null  datetime64[ns]
 8   url          185209 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(1), object(4)
memory usage: 14.1+ MB

In [19]:
df.to_pickle("data/flickr_data_cleaned.pkl")