In [1]:
!pip install -U numpy pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.4.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
import numpy as np

In [6]:
from google.colab import files
uploaded = files.upload()

Saving flickr_data2.csv to flickr_data2 (1).csv

In [20]:
data = pd.read_csv("flickr_data2.csv")
data.head()

/tmp/ipython-input-2556065726.py:1: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("flickr_data2.csv")

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,4395181099,30624617@N03,45.754858,4.821710,"chair,lyon,rh么ne,chaise,rh么nealpes",Chaises avec vue,11.0,15,28,2,2010,23,20,28.0,2,2010.0,NaN,NaN,NaN
1,4394748717,35853470@N00,45.753270,4.862953,NaN,NaN,51.0,17,28,2,2010,52,17,28.0,2,2010.0,NaN,NaN,NaN
2,4394694699,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29.0,17,28,2,2010,33,17,28.0,2,2010.0,NaN,NaN,NaN
3,4394803790,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN
4,4394803554,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN

In [21]:
len(data)

420240

In [22]:
data.columns

Index(['id', ' user', ' lat', ' long', ' tags', ' title', ' date_taken_minute',
       ' date_taken_hour', ' date_taken_day', ' date_taken_month',
       ' date_taken_year', ' date_upload_minute', ' date_upload_hour',
       ' date_upload_day', ' date_upload_month', ' date_upload_year',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

In [ ]:
# 2-checking if there is Null values

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420240 entries, 0 to 420239
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   420240 non-null  int64
 1    user                420240 non-null  object
 2    lat                 420240 non-null  float64
 3    long                420240 non-null  float64
 4    tags                316730 non-null  object
 5    title               381911 non-null  object
 6    date_taken_minute   420239 non-null  float64
 7    date_taken_hour     420240 non-null  int64
 8    date_taken_day      420240 non-null  int64
 9    date_taken_month    420240 non-null  int64
 10   date_taken_year     420240 non-null  int64
 11   date_upload_minute  420228 non-null  object
 12   date_upload_hour    420238 non-null  object
 13   date_upload_day     420238 non-null  float64
 14   date_upload_month   420240 non-null  int64
 15   date_upload_year    420239 non-null  float64
 16  Unnamed: 16          142 non-null     float64
 17  Unnamed: 17          0 non-null       float64
 18  Unnamed: 18          2 non-null       float64
dtypes: float64(8), int64(6), object(5)
memory usage: 60.9+ MB

In [24]:
data.isna().sum()

id                          0
 user                       0
 lat                        0
 long                       0
 tags                  103510
 title                  38329
 date_taken_minute          1
 date_taken_hour            0
 date_taken_day             0
 date_taken_month           0
 date_taken_year            0
 date_upload_minute        12
 date_upload_hour           2
 date_upload_day            2
 date_upload_month          0
 date_upload_year           1
Unnamed: 16            420098
Unnamed: 17            420240
Unnamed: 18            420238
dtype: int64

In [ ]:
# There are missing values in some column

In [ ]:
# columns 16 17 18 are unnamed and mostly empty we should remove them

In [32]:
data.drop(columns=['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18'], inplace=True)

In [33]:
data.columns

Index(['id', ' user', ' lat', ' long', ' tags', ' title', ' date_taken_minute',
       ' date_taken_hour', ' date_taken_day', ' date_taken_month',
       ' date_taken_year', ' date_upload_minute', ' date_upload_hour',
       ' date_upload_day', ' date_upload_month', ' date_upload_year'],
      dtype='object')

In [ ]:
# Replace Missing Text with "unknown"

In [36]:
data[' title'].fillna('unknown', inplace=True)

/tmp/ipython-input-3526601090.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[' title'].fillna('unknown', inplace=True)

In [37]:
data[' tags'].fillna('unknown', inplace=True)

/tmp/ipython-input-185422374.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[' tags'].fillna('unknown', inplace=True)

In [42]:
data[' date_upload_minute'].fillna('unknown', inplace=True)

/tmp/ipython-input-3146910576.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[' date_upload_minute'].fillna('unknown', inplace=True)

In [46]:
data[' date_taken_minute'].fillna('unknown', inplace=True)

In [45]:
data[' date_upload_hour'].fillna('unknown', inplace=True)

/tmp/ipython-input-3225834936.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[' date_upload_hour'].fillna('unknown', inplace=True)

In [47]:
data[' date_upload_day'].fillna('unknown', inplace=True)

/tmp/ipython-input-1894554354.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[' date_upload_day'].fillna('unknown', inplace=True)
/tmp/ipython-input-1894554354.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data[' date_upload_day'].fillna('unknown', inplace=True)

In [48]:
data[' date_upload_year'].fillna('unknown', inplace=True)

/tmp/ipython-input-64203625.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[' date_upload_year'].fillna('unknown', inplace=True)
/tmp/ipython-input-64203625.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data[' date_upload_year'].fillna('unknown', inplace=True)

In [49]:
data.isna().sum()

id                     0
 user                  0
 lat                   0
 long                  0
 tags                  0
 title                 0
 date_taken_minute     0
 date_taken_hour       0
 date_taken_day        0
 date_taken_month      0
 date_taken_year       0
 date_upload_minute    0
 date_upload_hour      0
 date_upload_day       0
 date_upload_month     0
 date_upload_year      0
dtype: int64

In [50]:
data.head()

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year
0,4395181099,30624617@N03,45.754858,4.821710,"chair,lyon,rh么ne,chaise,rh么nealpes",Chaises avec vue,11.0,15,28,2,2010,23,20,28.0,2,2010.0
1,4394748717,35853470@N00,45.753270,4.862953,unknown,unknown,51.0,17,28,2,2010,52,17,28.0,2,2010.0
2,4394694699,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29.0,17,28,2,2010,33,17,28.0,2,2010.0
3,4394803790,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15.0,20,28,1,2010,38,12,28.0,2,2010.0
4,4394803554,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10.0,20,28,1,2010,38,12,28.0,2,2010.0

In [ ]:
# 3- remove the extra space in some columns

In [51]:
data.columns = data.columns.str.strip()

In [52]:
data.columns

Index(['id', 'user', 'lat', 'long', 'tags', 'title', 'date_taken_minute',
       'date_taken_hour', 'date_taken_day', 'date_taken_month',
       'date_taken_year', 'date_upload_minute', 'date_upload_hour',
       'date_upload_day', 'date_upload_month', 'date_upload_year'],
      dtype='object')

In [ ]:
# 2-checking if there is any duplicate values

In [25]:
data.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
420235    False
420236    False
420237    False
420238    False
420239    False
Length: 420240, dtype: bool

In [26]:
data.duplicated().sum()

np.int64(232642)

In [ ]:
# There are 232642 duplicated values (Remove Duplicate Records)

In [27]:
data = data.drop_duplicates()

In [28]:
data.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
420235    False
420236    False
420237    False
420238    False
420239    False
Length: 187598, dtype: bool

In [29]:
data.duplicated().sum()

np.int64(0)

In [30]:
len(data) #it was 420240

187598

In [ ]:
#3-convert  the columns (year, month, day,hour )to int

In [73]:
#date_upload_year
data['date_upload_year'].replace('unknown', np.nan, inplace=True)

/tmp/ipython-input-523201403.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['date_upload_year'].replace('unknown', np.nan, inplace=True)

In [75]:
data['date_upload_year'] = pd.to_numeric(data['date_upload_year'], errors='coerce').astype('Int64')

In [90]:
data['date_upload_year'].dtype

Int64Dtype()

In [78]:
#date_upload_day
data['date_upload_day'].replace('unknown', np.nan, inplace=True)

/tmp/ipython-input-153855700.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['date_upload_day'].replace('unknown', np.nan, inplace=True)
/tmp/ipython-input-153855700.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['date_upload_day'].replace('unknown', np.nan, inplace=True)

In [79]:
data['date_upload_day'] = pd.to_numeric(data['date_upload_day'], errors='coerce').astype('Int64')

In [81]:
#date_upload_hour
data['date_upload_hour'].replace('unknown', np.nan, inplace=True)

/tmp/ipython-input-3387615200.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['date_upload_hour'].replace('unknown', np.nan, inplace=True)

In [83]:
data['date_upload_hour'] = pd.to_numeric(data['date_upload_hour'], errors='coerce').astype('Int64')

In [85]:
#date_upload_minute
data['date_upload_hour'].replace('unknown', np.nan, inplace=True)

/tmp/ipython-input-2328723611.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['date_upload_hour'].replace('unknown', np.nan, inplace=True)

In [86]:
data['date_upload_minute'] = pd.to_numeric(data['date_upload_minute'], errors='coerce').astype('Int64')

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 187598 entries, 0 to 420239
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  187598 non-null  int64
 1   user                187598 non-null  object
 2   lat                 187598 non-null  float64
 3   long                187598 non-null  float64
 4   tags                187598 non-null  object
 5   title               187598 non-null  object
 6   date_taken_minute   187598 non-null  object
 7   date_taken_hour     187598 non-null  int64
 8   date_taken_day      187598 non-null  int64
 9   date_taken_month    187598 non-null  int64
 10  date_taken_year     187598 non-null  int64
 11  date_upload_minute  187546 non-null  Int64
 12  date_upload_hour    187596 non-null  Int64
 13  date_upload_day     187597 non-null  Int64
 14  date_upload_month   187598 non-null  int64
 15  date_upload_year    187597 non-null  Int64
dtypes: Int64(4), float64(2), int64(6), object(4)
memory usage: 29.1+ MB

In [ ]:
#4-nvalid data

In [ ]:
#invalid date_taken_year

In [54]:
invalid_taken_years = data[~data['date_taken_year'].between(1920, 2026)]
print("Invalid date_taken_year rows:", len(invalid_taken_years))

Invalid date_taken_year rows: 55

In [56]:
print(invalid_taken_years[['date_taken_year']])

        date_taken_year
42366                11
85950                 9
98808                 6
98816                 6
102366                6
102720                7
106207             2238
108687                9
108958                9
116511               11
127024                2
127157                1
129635                3
131976                2
132075                1
134669                3
137218               15
137622               25
145294                7
150799                9
155337               10
163678               11
168124                2
169146                1
171368               12
175870                4
226794                6
228421                7
242625               11
246536               12
255743                3
266155                6
266627                6
269845                7
273276                8
277278                9
277601                9
277602                9
277603                9
277615                9
277624                9
277666                9
277667                9
280392               10
288303               12
319875                9
323235               10
337536                7
357346                7
364936                5
368325                5
381860                2
382043               11
382861               11
384404               11

In [ ]:
#we have 55 invalid years

In [ ]:
#invalid date_upload_year

In [98]:
invalid_upload_years = data[~data['date_upload_year'].between(1920, 2026)]
print("Invalid date_upload_year rows:", len(invalid_upload_years))
print(invalid_upload_years[['date_upload_year']])

Invalid date_upload_year rows: 53
        date_upload_year
85950                  1
98808                  6
98816                  6
102366                 7
102720                 7
108687                 9
108958                 9
116511                11
127024                 2
127157                 1
129635                 3
131976                 2
132075                 1
134669                 3
137218                20
137622                 6
145294                 7
150799                 9
155337                10
163678                11
168124                 2
169146                 1
171368                12
175870                 4
226794                 6
228421                 7
242625                11
246536                12
255743                 3
266155                 6
266627                 6
269845                 7
273276                 8
277278                 9
277601                 9
277602                 9
277603                 9
277615                 9
277624                 9
277666                 9
277667                 9
280392                10
288303                12
319875                 9
323235                10
337536                 1
357346                 8
364936                10
368325                10
381860                 2
382043                 2
382861                 1
384404                11

In [97]:
#invalid date_taken_day
invalid_taken_day = data[~data['date_taken_day'].between(1, 31)]
print("Invalid date_taken_day rows:", len(invalid_taken_day))
print(invalid_taken_day[['date_taken_day']])

Invalid date_taken_day rows: 1
        date_taken_day
137218            2013

In [96]:
#invalid date_upload_day
invalid_upload_day = data[~data['date_upload_day'].between(1, 31)]
print("Invalid date_upload_day rows:", len(invalid_upload_day))
print(invalid_upload_day[['date_upload_day']])

Invalid date_upload_day rows: 1
        date_upload_day
280392                0

In [99]:
#invalid date_taken_month
invalid_taken_month = data[~data['date_taken_month'].between(1, 12)]
print("Invalid date_taken_month rows:", len(invalid_taken_month))
print(invalid_taken_month[['date_taken_month']])

Invalid date_taken_month rows: 30
        date_taken_month
42366               2011
98816                 17
108687                27
108958                19
127157                31
129635                28
132075                31
134669                28
137218                38
150799                26
168124                27
169146                25
171368                24
175870                18
255743                28
266155                27
266627                17
269845                29
273276                19
277278                16
280392                22
288303                18
337536                22
357346                29
364936                25
368325                25
381860                18
382043                16
382861                15
384404                17

In [100]:
#invalid date_upload_month
invalid_upload_month = data[~data['date_upload_month'].between(1, 12)]
print("Invalid date_upload_month rows:", len(invalid_upload_month))
print(invalid_upload_month[['date_upload_month']])

Invalid date_upload_month rows: 31
        date_upload_month
42366                2011
98808                  17
98816                  17
102366                 16
108687                 27
108958                 19
127157                 31
129635                 28
132075                 31
134669                 28
137218                 51
137622                 21
150799                 26
168124                 27
169146                 26
171368                 25
175870                 18
255743                 28
266155                 28
266627                 17
269845                 29
273276                 19
277278                 18
280392                 23
288303                 18
323235                 13
337536                 18
357346                 29
381860                 20
382861                 15
384404                 23

In [57]:
data.columns

Index(['id', 'user', 'lat', 'long', 'tags', 'title', 'date_taken_minute',
       'date_taken_hour', 'date_taken_day', 'date_taken_month',
       'date_taken_year', 'date_upload_minute', 'date_upload_hour',
       'date_upload_day', 'date_upload_month', 'date_upload_year'],
      dtype='object')